
.action-btn{
  width:200px!important;
  min-width: 150px!important;
}
.btn{
  /*margin: 0!important;*/
  /*padding: 5px!important;*/
}
.m-btn{
  margin: 0!important;
  padding: 5px!important;
}
.spacial{
    padding: 2px !important;
    /*-webkit-border-radius: !important;*/
    /*-moz-border-radius: !important;*/
    border-radius: 2px !important;
}
.label {
  color: white;
  padding: 5px;
  border-radius: 2px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.mod-btn-danger {background-color: #f44336;} /* Red */
.mod-btn-other {background-color: #cbe771; color: #030303;
    font-weight: bold !important;} /* Gray */
.mod-btn-success {background-color: #4CAF50;} /* Green */
.form-i-control{

  color: #fdfdfd;
  font-weight: bold !important;
  line-height: 1.1;
  -webkit-appearance: none;

  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 6px;
  padding-right: 0;
  border-radius: 0;
  font-size: 14px;
  /* text-align: center; */
  margin-left: 5px;

  background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);

}


.form-i-control option{
  background-color: #202940;
}
.card .table-responsive{
  overflow-x: hidden!important;
}

.dataTables_empty{
  /*color:#8229A0 !important;*/
  background:#202940 !important;
  font-weight:bold !important;
}
.bold{
  font-weight: bold;
}
.white{
    color:#ffffff !important;
}

.login-menu{
  width: 200px !important;
}
.cart-mainf{
  /*width: 100px !important;*/
}
.mt-1{

    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    margin: 3px;
}

#product-image{
    width: 100%;
    max-width: 330px;
    min-width: 25%;
}
#image1{
    width:330px;
    height: 450px;
    border: none;
    position: fixed;
}
#image2::-webkit-scrollbar {
    width: 8px;
    display:none;
}
#image2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#image2::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
#image2{
    max-height: 450px;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
}
#image2:hover{
    /*max-height: 450px;*/
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
    /*position: fixed;*/
}
#image2 img{
    width: 100%;
    max-width: 330px;
    min-width: 25%;
    margin-bottom: 10px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.show-products-header button{
    margin-left: 10px !important;
}
#stock span{
    padding: 5px;
    background-color: #3C4858;
    border-radius: 10px;
}

.photoinfo h2{
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.photoinfo p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}
.photoinfo img{
    width: 100%;
    height: auto;
}
.phptoinfo btn{

}
.phptoinfo .dl {
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    background-color: #555 !important;
    color: white !important;
    font-size: 16px !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    text-align: center !important;

}

.phptoinfo .btn:hover {
    background-color: black !important;
}
.photoinfo{
    position:relative !important;
    display: inline-block;
}