/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}

body a,
.gallery-item img {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 1em;
    line-height: 1.6;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

input[type="submit"] {
    cursor: pointer;
}

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.right-w3l input[type="submit"] {
    background: #f0475f;
    color: #fff;
}

input.form-control {
    background: #BED0E9;
}

/*-- //bottom-to-top --*/

/* mega nav */

/* nav.navbar{ 
    background: #c2e59c;
    fallback for old browsers

background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
Chrome 10-25, Safari 5.1-6

background: linear-gradient(to right, #64b3f4, #c2e59c);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ }
    */

nav.navbar.navbar-expand-lg.navbar-light {
    border-top: 1px solid #e6e3e3;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #000000;
    border-bottom: 1px solid #64b3f4;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

nav.navbar a {
    color: #000;
}

h1 a.navbar-brand {
    font-family: 'Elsie Swash Caps', cursive;
    color: #64b3f4;
    display: inline-block;
    padding: 0;
    margin-right: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 0;
}

a.navbar-brand:first-letter {
    color: #000;
}

.w3_kids span {
    color: #000;
    font-weight: 600;
    background: #eee !important;
    display: block;
    padding: 8px;
    font-size: 1em;
}

/* CART  */

/*-- cart-button --*/

button.top_chr_cart {
    border: none;
    background: none;
    /* width: 36px; */
    /* height: 36px; */
    outline: none;
}

header i {
    font-size: 1.5em;
    color: #64b3f4;
}

button.btn.top_hub_cart {
    background: #d8e9fa;
}

select.form-control.input-lg {
    cursor: pointer;
    width: 300px;
}

/*-- cart-css --*/

/*/////////////////////////middleBar//////////////////////*/

form.nav-search.form-inline.form-control {
    background: transparent;
    border: none;
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

/* megaDropMenu */

h5.head_agileinfo {
    font-size: 3em;
    font-weight: 400;
    color: #000;
}

h5.head_agileinfo span {
    font-family: 'Elsie Swash Caps', cursive;
    color: #0076be;
    font-weight: bold;
}

h5.shop_w3 {
    font-size: 1.7em;
    font-weight: 400;
    color: #64b3f4;
    border-bottom: 1px solid #ded6d6;
}

/* banner */

.banner {
    background: url(../images/bann1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 43vw;
    position: relative;
}

.banner2 {
    background: url(../images/bann2.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner3 {
    background: url(../images/bann3.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.ibanner_w3 {
    background: url(../images/inner_ban.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 260px;
}

h3.agile_btxt {
    font-size: 3em;
    text-transform: uppercase;
    padding-top: 1.5em;
    color: #000;
    word-spacing: 10px;
    line-height: 70px;
}

h3.agile_btxt span {
    font-size: 3em;
    text-transform: uppercase;
    color: #f0475f;
    font-family: 'Elsie Swash Caps', cursive;
}

h2.agile_btxt a{
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
    word-spacing: 10px;
    line-height: 70px;
    text-align: right;
}
h2.agile_btxt{
    text-align: right;
}
h4.head_agileinfo {
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 25px;
    line-height: 70px;
    text-align: right;
}

h2.agile_btxt span {
    font-size: 2em;
    text-transform: uppercase;
    color: #f0475f;
    font-family: 'Elsie Swash Caps', cursive;
}

h4.head_agileinfo span {
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Elsie Swash Caps', cursive;
}

h4.w3_bbot {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    word-spacing: 10px;
    padding-left: 11px;
    letter-spacing: 9px;
}

h4.bn_right {
    font-size: 2em;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 10px;
    word-spacing: 2px;
    padding-top: 3rem;
    text-align: right;
}

h4.bn_right span {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 2em;
}

.slider-info {
    max-width: 500px;
}

.bnr_clip a {
    font-weight: 600;
}

.bnr_clip {
    background: #d6c4b8;
    clip-path: polygon(0 12%, 100% 0, 100% 51%, 0 100%);
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 51%, 0 100%);
    clip-path: polygon(0 12%, 100% 0, 100% 51%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 59%, 0 100%);
    max-width: 500px;
    padding: 2em 2em 3.5em;
}

.bnr_clip h4 {
    color: #060606;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.bnr_clip h4 span {
    text-transform: uppercase;
    font-size: 2em;
    color: #0060af;
    font-weight: 600;
}

.bnr_clip p {
    letter-spacing: 14px;
    word-spacing: 20px;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    border: 1px solid #777;
    border-width: 1px 0;
    margin: 14px 0;
    padding: 10px;
    display: inline-block;
}

.bnr_clip h4 span {
    color: #ff0000;
}

.banner-pos {
    right: 26%;
    top: 40px;
    background: #fff;
    width: 30px;
}

.banner-pos span {
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
}

/*-- text Slider --*/

.callbacks_container {
    position: relative;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    width: 100%;
}

/*
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 78%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	left: auto;
	background: url("../images/back.png") no-repeat 0px 0px;
	left: 18em;
}
.callbacks_nav.next {
	left: auto;
	background: url("../images/next.png") no-repeat 0px 0px;
	right: 18em;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks2_nav:active {
	opacity: 1.0;
}*/

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}

#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider-pager a {
    padding: 0;
}

#slider-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.callbacks_tabs li {
    display: block;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    left: 13%;
    top: 60%;
    z-index: 2;
    border-radius: 5px;
}

.callbacks_tabs a {
    visibility: hidden;
    line-height: 23px;
    height: 20px;
    text-align: center;
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    background: #fff;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 20px;
    width: 9px;
    display: inline-block;
    background: #e0d3ca;
}

.callbacks_here a:after {
    background: #007bff;
}

/* //slider ends here */

/* banner */

/*-- services --*/

.agileits-services-grids:nth-child(odd) {
    background: #D8E9FA;
}

.agileits-services-grids {
    background: #BED0E9;
}

.agileits-services-grids {
    text-align: center;
}

.agileits-services-grids h4 {
    font-size: 1.5em;
    color: #000;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: capitalize;
}

.agileits-services-grids h6 {
    padding: 1px;
    background: #2954a2;
    width: 33%;
    margin: 2em auto 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.agileits-services-grids:hover h6 {
    width: 55%;
    background: #2954a2;
}

/*-- Effect 1--*/

.agileits-services-grids span {
    font-size: 4em;
    color: #0076BE;
}

/*-- //services --*/

/* about */

.hovereffect {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h5 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.8em;
    letter-spacing: 5px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 80px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    letter-spacing: 3px;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 30px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #fff;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h5,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

/* //about */

/* about-gallery */

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

/* The controls */

.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #b1b1b1;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}

.carousel-control {
    color: #a51c21;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #a51c21;
}

.carousel-control.right {
    right: -12px;
}

/* The indicators */

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
    display: none;
}

/* The colour of the indicators */

.carousel-indicators li {
    background: #cecece;
}

.carousel-indicators .active {
    background: #428bca;
}

/* //about-gallery */

/*-- Tabs --*/

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    box-shadow: inset 0 -2px #bed0e9;
    color: #0076be !important;
    background: #eee;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    /*--w3layouts--*/
    /*--agileits--*/
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*--w3layouts--*/
    /*--agileits--*/
    line-height: 2.5;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

.tabs-style-line nav a {
    padding: 0.9em 0.4em;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #74777b;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1;
    -webkit-transition: color 1.5s, box-shadow 1.5s;
    transition: color 1.5s, box-shadow 1.5s;
}

.wthreetabsaits .item .wthreeitemdownload {
    margin-bottom: 20px;
}

.wthreeitemdownload a {
    padding: 7px 20px;
    background-color: #777;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #FFF;
}

.wthreeitemdownload a:hover {
    color: #000;
    background-color: #FFF;
}

/*-- //Tabs --*/

/*--contact--*/

.map iframe {
    width: 100%;
    min-height: 350px;
    border: 5px solid #17a2b8;
}

.address p a,
p.c-txt {
    color: #777;
}

.address p a:hover {
    color: #000;
}

.contact-top1 .form-group label,
form.f-color .form-control {
    color: #000;
    letter-spacing: 1px;
    background: transparent;
}

.address h5,
.contact-top1 h5 {
    font-size: 1.5em;
    color: #000;
}

/*--//contact--*/

/*-- footer --*/

.footer-bottomv2 {
    padding-bottom: 4em;
}

.footer-w3lagile-inner {
    background: #0c0d0d;
}

.footer-v2grids.w3-agileits {
    padding: 6em 2em;
    background: #eee;
}

.footer-bottomv2 {
    background: #BED0E9;
}

.footer-copy_w3ls {
    background: #d8e9fa;
}

.w3agile_footer_copy {
    padding: 1em 0;
    background: #02a388;
}

.footerv2-w3ls h5 {
    font-size: 1.4em;
    color: #000;
}

p.para {
    text-align: center;
    margin: 1em auto 0;
    font-size: 1em;
    color: #999;
    width: 60%;
    line-height: 1.9em;
}

.footerv2-w3ls ul.social-iconsv2 {
    list-style: none;
    padding: 1.5em 0;
    text-align: center;
}

.footerv2-w3ls ul.social-iconsv2 li {
    display: inline-block;
    margin-right: 6px;
}

.footerv2-w3ls ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.footerv2-w3ls ul.social-iconsv2 li a i.fab {
    font-size: 18px;
    line-height: 41px;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.footerv2-w3ls ul.social-iconsv2 li:first-child {
    background: #3b5998;
    color: #fff;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(2) {
    background: #1da1f2;
    color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(4) {
    background: #287bbc;
    color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(3) {
    background: #dc4a38;
    color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:last-child {
    background: #f4521f;
    color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li a i.fab:hover {
    background-color: #fff;
    color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li a:hover {
    color: #fff;
}

.inner-agile-w3l-part-head {
    text-align: center;
    margin-bottom: 2em;
}

h3.w3l-inner-h-title {
    text-align: center;
    color: #0c0d0d;
    font-size: 2.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

p.w3ls_head_para {
    color: #02a388;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.9em;
}

/*-- /contact section --*/

/* instagram */

.gallery-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.gallery-item:hover .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.gallery-item {
    border: 5px solid #fff;
    outline: 4px solid #efefef;
}

.gallery-item-info {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.gallery-item-info ul {
    position: absolute;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

/* instagram */

/*-- footer section --*/

.footer {
    background-color: #000;
    padding: 50px 0;
    text-align: center;
}

.footer p {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    line-height: 30px;
}

.footer p a {
    color: #fff;
    text-decoration: none;
}

.footer p a:hover {
    color: #ee4c58;
}

.footer h2 {
    color: #fff;
    font-size: 2em;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.footer p.para {
    color: #898989;
    font-size: 14px;
    margin: 1em auto 2em;
    text-align: center;
    line-height: 1.8em;
    width: 60%;
}

.footer-v2grid p {
    color: #898989;
    font-size: 14px;
    margin: 0;
    line-height: 1.8em;
    text-align: left;
}

.footer-v2grid p a {
    color: #898989;
    display: block;
    margin: 1em 0;
    text-align: left;
}

.footer-v2grid p a:hover {
    color: #fff;
}

h3.follow {
    font-size: 1.5em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-v2grid h4 {
    color: #000;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1em;
    letter-spacing: 1px;
}

h4.b-log a {
    color: #fff;
    font-weight: bold;
}

h4.b-log a span {
    color: #fe423f;
    font-size: 1.5em;
}

.footer-v2grid ul li {
    color: #fff;
    margin: 0 0 0.5em;
    list-style: none;
}

.footer-v2grid ul li a {
    font-size: 14px;
    color: #606161;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-copy {
    margin: 2em 0 0;
    padding: 2em 0;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
}

.footer-copy p {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 1.8em;
}

.footer-copy p a {
    color: #00B6FF;
    text-decoration: none;
}

.footer-copy p a:hover {
    color: #fff;
}

.footer1 {
    margin: 0 !important;
}

.footer-v2grid1-right a {
    font-size: 1em;
    color: #606161;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    margin: 0 0 0.5em;
}

.m1 a {
    color: #F25086;
}

.m1 a:hover {
    color: #fff;
}

.footer-v2grid p span {
    padding-left: 1em;
    left: -.5em;
    color: #fff;
}

.footer-v2grid-instagram {
    float: left;
    width: 33%;
    padding: 3px;
}

ul.w3-tag2 li a {
    font-size: 14px;
    color: #fff;
    padding: 7px 9px 10px;
    background: #212323;
}

ul.w3-tag2 li {
    display: inline-block;
    margin: 8px 0;
}

ul.bottom-links-agile {
    text-align: center;
    border-top: 1px solid #d8e9fa;
    border-bottom: 1px solid #d8e9fa;
    padding: 1.5em 0;
    margin: 3em 0;
}

ul.bottom-links-agile li {
    display: inline-block;
    margin: 0 2em;
}

ul.bottom-links-agile li a {
    font-size: 14px;
    color: #0076BE;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*-- /footer variant2 --*/

/* blog */

.blg_w3ls a {
    color: #0076be;
    font-size: 1em;
    font-weight: 600;
}

/* //blog */

@media (min-width: 576px) {
    .agilemodal-dialog {
        max-width: 750px;
        margin: 5rem auto;
    }
}

.modal-title {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: bold;
    font-size: 2em;
}

/* blog-single */

.single-agile-shar-buttons {
    margin: 1em 0 0 0;
}

.single-agile-shar-buttons ul {
    padding: 0;
    margin: 0;
}

.single-agile-shar-buttons ul li {
    display: inline-block;
    vertical-align: text-top;
}

.single-agile-shar-buttons ul li:nth-child(1) {
    vertical-align: top;
}

.single-agile-shar-buttons ul li:nth-child(2) {
    vertical-align: top;
}

.news-twitter a {
    margin: 1em 0 0 0 !important;
}

.share {
    padding: 1em 0 0 1em;
}

.share h5 {
    font-size: 1.3em;
    color: #181818;
    margin: 0 0 0em 0;
    font-weight: 400;
    text-transform: uppercase;
}

.single-agile-shar-buttons {
    margin: 1em 0 0 0;
}

.all-comments {
    box-shadow: 0px 0 2px #C1C1C1 !important;
    -o-box-shadow: 0px 0 2px #C1C1C1 !important;
    -moz-box-shadow: 0px 0 2px #C1C1C1 !important;
    -ms-box-shadow: 0px 0 2px #C1C1C1 !important;
}

.media h5 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #2d2d2d;
}

/* //blog - single */

/*-- testimonial --*/

.testimonials img {
    width: 100%;
}

.testi-w3agileinfo .tab-content {
    width: 65%;
    margin: 0 auto;
    padding: 2em 5em;
    -webkit-box-shadow: 0px 0px 8px 2px #ccc;
    -moz-box-shadow: 0px 0px 8px 2px #ccc;
    box-shadow: 0px 0px 8px 2px #ccc;
    text-align: center;
    background: #fff;
}

.testi-w3agileinfo h5 {
    color: #00bcd4;
    font-size: 2.2em;
    letter-spacing: 1px;
    margin: 0 0 0.3em 0;
}

.testi-w3agileinfo p {
    color: #a89b9b;
}

.testimonials .nav-tabs {
    border: none;
    text-align: center;
    margin: 4em 0 4em 0em
}

.testi-w3agileinfo .nav-tabs li a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.5s all;
    padding: 0;
    margin: 0;
    border: none;
    opacity: .5;
    border-radius: 50%;
}

.testi-w3agileinfo .nav-tabs li {
    display: inline-block;
    float: none;
    margin: 0 0.5em;
    border-radius: 50%;
}

.testi-w3agileinfo .nav-tabs li.active a,
.testi-w3agileinfo .nav-tabs li a:hover {
    opacity: 1;
    border-radius: 50%;
    border: none;
}

#testi label,
#profile label,
#messages label {
    color: #dc7a7a;
    font-size: 14px;
    padding-top: 10px;
}

.testi-w3agileinfo .nav-tabs li a img {
    max-width: none;
    border-radius: 50%;
}

.testi-w3agileinfo .nav-tabs {
    border-bottom: none;
    margin: 4em 0 4em 0em;
    text-align: center;
}

/*-- //testimonial --*/

/* -- Responsive code -- */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {
    h3.agile_btxt span {
        font-size: 2.8em;
    }
    .banner {
        height: 50vw;
    }
    .callbacks_tabs {
        left: 9%;
        top: 57%;
    }
    h4.w3_bbot {
        word-spacing: 6px;
    }
    .fh-container.mx-auto {
        width: 94%;
    }
}

@media screen and (max-width: 1366px) {
    .callbacks_tabs {
        left: 6%;
        top: 60%;
    }
}

@media screen and (max-width: 1280px) {
    h3.agile_btxt span {
        font-size: 2.5em;
    }
    h4.w3_bbot {
        word-spacing: 0px;
    }
    .bnr_clip h4 {
        font-size: 1.8em;
    }
    .banner {
        height: 55vw;
    }
    .callbacks_tabs {
        left: 3%;
        top: 57%;
    }
    .banner-pos span {
        font-size: 1em;
    }
    .banner-pos {
        right: 30%;
    }
    .agileits-services-grids span {
        font-size: 3.5em;
    }
    .hovereffect h5 {
        padding: 80px 30px;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
    .footer-v2grid h4 {
        font-size: 1em;
    }
    .ibanner_w3 {
        min-height: 240px;
    }
}

@media screen and (max-width: 1080px) {
    h3.agile_btxt span {
        font-size: 2em;
    }
    h3.agile_btxt {
        font-size: 2.8em;
    }
    h4.w3_bbot {
        letter-spacing: 6px;
    }
    h4.bn_right {
        padding-top: 0rem;
    }
    .bnr_clip {
        padding: 2em 2em 2.5em;
    }
    .agileits-services-grids h4 {
        font-size: 1.3em;
    }
    .gallery-item-info li {
        font-size: 1.2rem;
    }
    h4.head_agileinfo span {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 1050px) {
    .callbacks_tabs {
        left: 2%;
        top: 59%;
    }
}

@media screen and (max-width: 1024px) {
    .callbacks_tabs {
        left: 1%;
        top: 60%;
    }
    ul.bottom-links-agile {
        margin: 0 0 3em 0;
    }
    .footerv2-w3ls ul.social-iconsv2 {
        padding: 1.5em 0 0;
    }
}

@media screen and (max-width: 991px) {
    h3.agile_btxt {
        padding-top: 10px;
    }
    h3.agile_btxt span {
        font-size: 1.8em;
    }
    .callbacks_tabs {
        left: 11%;
        top: 51%;
    }
    h5.head_agileinfo {
        font-size: 2.5em;
    }
    .footer-copy_w3ls,
    h2.agile_btxt {
        text-align: center;
    }
    .cpy-right {
        margin-top: 2em;
    }
    h4.head_agileinfo span {
        font-size: 2.5em;
    }
    .responsive_tabs {
        margin-top: 1em;
    }
    
}

@media screen and (max-width: 900px) {
    .callbacks_tabs {
        left: 7%;
        top: 56%;
    }
    h3.agile_btxt {
        font-size: 2.5em;
    }
    .banner {
        height: 60vw;
    }
    h4.bn_right span {
        font-size: 1.8em;
    }
    .hovereffect h5 {
        padding: 80px 20px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 800px) {
    .bnr_clip h4 span {
        font-size: 1.8em;
    }
    .banner-pos {
        right: 33%;
    }
    .callbacks_tabs {
        left: 2%;
    }
    .banner {
        height: 65vw;
    }
}

@media screen and (max-width: 768px) {
    .callbacks_tabs {
        left: 1%;
        top: 54%;
    }
    .bnr_clip p {
        margin: 10px 0 0;
    }
    .hovereffect a.info {
        padding: 4px 15px;
        font-size: 0.9em;
    }
    .hovereffect h5 {
        font-size: 1.1em;
        padding: 45px 12px;
    }
    h4.head_agileinfo span {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 736px) {
    h4.w3_bbot {
        letter-spacing: 4px;
    }
    h3.agile_btxt {
        font-size: 2.3em;
    }
    .bnr_clip p {
        letter-spacing: 12px;
        word-spacing: 9px;
    }
    .callbacks_tabs {
        left: 10%;
        top: 56%;
    }
    h4.bn_right span {
        font-size: 1.7em;
    }
    .bnr_clip h4 span {
        font-size: 1.6em;
    }
    .banner-pos {
        right: 35%;
        top: 30px;
    }
    .agileits-services-grids span {
        font-size: 3em;
    }
    h5.head_agileinfo {
        font-size: 2.2em;
    }
    .footer-v2grids.w3-agileits {
        padding: 4em 2em;
    }
    .imagezoom-cursor,
    .imagezoom-view {
        display: none;
        overflow: hidden;
    }
}


@media screen and (max-width: 667px) {
    .bnr_clip {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-align: center;
    }
    .bnr_clip p {
        display: block;
    }
    .banner-pos {
        right: 18%;
        top: 30px;
    }
    .bnr_clip {
        padding: 1em 2em;
    }
    .banner-pos {
        top: 22px;
    }
    h3.agile_btxt {
        font-size: 2em;
    }
    .callbacks_tabs {
        left: 7%;
        top: 52%;
    }
    h4.bn_right span {
        font-size: 1.5em;
    }
    h4.w3_bbot {
        font-size: 0.9em;
        letter-spacing: 3px;
    }
    .bnr_clip h4 span {
        font-size: 1.4em;
    }
    .banner-pos {
        top: 14px;
        right: 19%;
    }
}

@media screen and (max-width: 640px) {
    .callbacks_tabs {
        left: 4%;
    }
    .hovereffect h5 {
        font-size: 1em;
    }
    h4.head_agileinfo span {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .bnr_clip {
        padding: 0em 0em 1em;
    }
    .callbacks_tabs {
        left: 7%;
        top: 55%;
    }
    .banner-pos span {
        font-size: 0.9em;
    }
    .banner-pos {
        top: 0px;
        right: 21%;
        width: 24px;
    }
    .callbacks_tabs {
        left: 2%;
    }
    h5.card-title.text-capitalize {
        font-size: 0.95em;
    }
}

@media screen and (max-width:568px) {
    h3.agile_btxt {
        line-height: 45px;
    }
    .input-lg {
        width: auto;
    }
    .slider-info {
        max-width: 400px;
        margin: 0 auto;
    }
    .banner-pos {
        right: 13%;
    }
    .bnr_clip h4 {
        font-size: 1.7em;
    }
    h4.bn_right {
        font-size: 1.8em;
        padding-top: 2rem;
    }
    .hovereffect h5 {
        font-size: 1.1em;
        padding: 80px 12px;
    }
    h5.head_agileinfo {
        font-size: 2em;
    }
    ul.bottom-links-agile {
        margin: 0 0 2em 0;
    }
    h4.head_agileinfo span {
        font-size: 1.8em;
    }
    .ibanner_w3 {
        min-height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .form-inline {
        -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    }
    .banner {
        min-height: 370px;
    }
    .modal-title {
        font-size: 1.8em;
    }
    ul.bottom-links-agile li {
        margin: 0 1em 0 0;
    }
    h2.agile_btxt {
        font-size: 1.6em;
    }
    .banner {
        background-position: top;
        background-size: contain;
    }
    h4.head_agileinfo {
        font-size: 2.6em;
    }
    .description input[type="text"] {
        width: 60%;
    }
    .description h5 {
        line-height: 1.5;
    }
    h4.rad-txt.text-capitalize {
        font-size: 1.3em;
    }
	.nav-icon.d-flex {
		margin-left: 2em;
	}
}

@media screen and (max-width: 414px) {
    .w3ls_right_nav {
        display: block !important;
    }
    h4.w3_bbot {
        letter-spacing: 2px;
    }
    .bnr_clip p {
        letter-spacing: 8px;
        word-spacing: 2px;
    }
    .bnr_clip h4 {
        font-size: 1.5em;
    }
    h3.agile_btxt {
        font-size: 1.7em;
    }
    .sub-some .list-inline-item {
        margin: 0.5rem 0 0;
    }
    h4.bn_right {
        text-align: left;
    }
    .media {
        display: block;
    }
}

@media screen and (max-width: 384px) {
    h3.agile_btxt {
        font-size: 1.5em;
    }
    h4.bn_right {
        font-size: 1.5em;
    }
    .footer-v2grids.w3-agileits {
        padding: 4em 1em;
    }
    .tabs-style-line nav a {
        font-size: 0.8em;
    }
    .callbacks_tabs li {
        display: inline-block;
    }
    .callbacks_tabs {
        left: 39%;
        top: 92%;
    }
    .callbacks_tabs a:after {
        height: 10px;
        width: 17px;
    }
    h4.head_agileinfo {
        font-size: 2em;
        word-spacing: 16px;
    }
    .ibanner_w3 {
        min-height: 185px;
    }
    .address h5,
    .contact-top1 h5 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 375px) {
    .bnr_clip p {
        font-size: 0.9em;
    }
    .banner-pos {
        right: 10%;
    }
}

@media screen and (max-width: 320px) {
    nav.top_nav {
        display: block !important;
        text-align: center;
    }
    .nav-icon {
        padding-top: 10px;
        justify-content: center;
    }
    .banner-pos {
        right: 4%;
    }
    .bnr_clip h4 {
        font-size: 1.3em;
    }
    .bnr_clip p {
        letter-spacing: 6px;
    }
    h4.bn_right span {
        font-size: 1.3em;
    }
    .tabs-style-line nav a {
        letter-spacing: 1px;
    }
    ul.bottom-links-agile li {
        margin: 0 0.8em 0 0;
    }
    h3.follow {
        font-size: 1.4em;
    }
    .ibanner_w3 {
        min-height: 180px;
    }
    .breadcrumb {
        padding: 0.75rem 0 0.75rem 0.75rem;
    }
    .description input[type="submit"] {
        letter-spacing: 1px;
        padding: 7px 26px 8px;
    }
    .single-right-left p {
        font-size: 15px;
    }
}

/* -- //Responsive code -- */